{# {% include 'header.html.twig' %}
<h1>Strona główna</h1>
{% for post in posts %}
<div>{{ post.getTitle }}</div>
<div>{{ post.getTimestamp }}</div>
<img src="{{ post.getImageUrl() }}">
{% endfor %}
{% include 'footer.html.twig' %} #}


{% include 'header.html.twig' %}
<div id="pageContainer">
    <div class="top1">
        <h1>{{pageTitle}}</h1>
    </div>
    
    {# jeśli użytkownik jest zalogowany to pokaż #}
    {% if user is defined %}
    <div id="loggedUser">Zalogowany użytkownik: {{ user.getName() }} </div>
    {% endif %}
    {% for post in postArray %}

    <div id="post">
        <h2>{{ post.getTitle() }} </h2>
        <img class="imagesize" src="{{ post.getFilename() }}">
        <div class="authordate">
            <h6>Autor: {{post.getAuthorName() }}</h6>
            <h6>Data dodania: {{ post.getTimestamp() }} </h6>
        </div>
        {# {{ post.getId() }} #}
        <div class="buttony">
            <a href="like/{{ post.getId() }}"><button>+</button></a>
            <a href="dislike/{{ post.getId() }}"><button>-</button></a>
        </div>
        {{post.getLikes()}}<br>
    </div>
    {% endfor %}
</div>


{% include 'footer.html.twig' %}